<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 7</title>

	<script src="~/Scripts/jquery-2.1.3.min.js"></script>

	<script>
		$(document).ready(function () {

			$("input#btnSubmit").click(function (e) {

				$("input#btnSubmit").fadeOut(200);
				$("div#divProgress").fadeIn(400);

				$.ajax({
					// نوع داده ارسالی به سرور
					type: "GET",

					// نوع داده دريافتی از سرور
					dataType: "json",

					//url: "Temp",
					//url: "GetJson01",
					//url: "GetJson02",
					url: "GetJson03",

					//data: [],
					data: null,

					//contentType: "application/x-www-form-urlencoded; charset=UTF-8",

					success: function (response) {

						$("div#divMessage").text(response.MyMessage1);

					},

					error: function (response) {

						$("div#divMessage").text("Error on Sending/Receiving Data!");

					},

					statusCode: {
						200: function () {

							alert("Everything is OK...");

						},

						404: function () {

							alert("Action not found!");

						},

						500: function () {

							alert("Error On Server!");

						},
					},

					complete: function (response) {

						$("input#btnSubmit").fadeIn(400);
						$("div#divProgress").fadeOut(200);

					},
				});
			});
		})
	</script>

	<style>
		div#divProgress {
			display: none;
			color: blue;
			margin: 10px;
			padding: 4px;
			border: thin outset;
			background-color: yellow;
		}
	</style>
</head>
<body>
	<div id="divProgress">
		<img src="~/Images/Loading.gif" alt="Loading..." title="Loading...." />
		Loading... Please Wait!
	</div>

	<div id="divMessage">
	</div>

	<br />

	<input type="button" id="btnSubmit" value="(S)ubmit" accesskey="S" />
</body>
</html>
