<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 5</title>

	<style>
		div#loading {
			display: none;
		}
	</style>

	<script src="~/Scripts/jquery-2.1.3.min.js"></script>

	<script>

		$(document).ready(function () {

			$('button#btnCreate').click(function () {

				$('div#message').html('');

				$('div#loading').show();
				$('button#btnCreate').hide();

				// **************************************************
				// *** Solution (1) *********************************
				// **************************************************
				//var varAge = $('input#age').val();
				//var varFullName = $('input#fullName').val();

				//var varData =
				//	{
				//		age: varAge,
				//		fullName: varFullName,
				//	};
				// **************************************************
				// *** /Solution (1) *********************************
				// **************************************************

				// **************************************************
				// *** Solution (2) *********************************
				// **************************************************
				var varData =
					{
						age: $('input#age').val(),
						fullName: $('input#fullName').val(),
					};
				// **************************************************
				// *** /Solution (2) *********************************
				// **************************************************

				// **************************************************
				// *** Solution (3) *********************************
				// **************************************************
				//var varData =
				//	{
				//		age: function () {

				//			return ($('input#age').val());

				//		},

				//		fullName: function () {

				//			return ($('input#fullName').val());

				//		},

				//	};
				// **************************************************
				// *** /Solution (3) *********************************
				// **************************************************

				$.ajax({

					type: 'POST',

					dataType: 'json',

					data: varData,

					//url: '/StepByStep/GetData05_1',
					//url: '/StepByStep/GetData05_2',
					url: '/StepByStep/GetData05_3',

					error: function (response) {

						console.log(response);
						$('div#message').html('Error on sending or receiving data!');

					},

					success: function (response) {

						$('input#age').val('');
						$('input#fullName').val('');

						$('div#message').html(response.Message);

					},

					complete: function (response) {

						$('div#loading').hide();
						$('button#btnCreate').show();

					},

				});

			});

		});

	</script>
</head>
<body>
	<div id="loading">
		<img src="~/Content/Images/Loading.gif" alt="Loading" title="Loading" />
		Loading... Please Wait!
	</div>

	<div id="message"></div>

	<br />

	Age:
	<br />
	<input type="search" id="age" />

	<br />
	<br />

	Full Name:
	<br />
	<input type="search" id="fullName" />

	<br />
	<br />

	<button type="button" id="btnCreate">Create</button>
</body>
</html>
