<div id="myDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myDialogLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

				<h4 class="modal-title" id="myDialogLabel">
				</h4>

			</div>

			<div class="modal-body">

				<form id="frmData" name="frmData"></form>

			</div>
		</div>
	</div>
</div>
