<div id="myLoadingDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLoadingDialogLabel" aria-hidden="true" style="z-index: 100000">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title" id="myLoadingDialogLabel">
					Loading...
				</h4>

			</div>

			<div class="modal-body">

				<h3>
					Please Wati!
				</h3>

			</div>
		</div>
	</div>
</div>
